# 选择什么方式
channel : funasr    # funasr  、 whisper_online 、parafomer

OPENAI:
  key: sk-xxx,
  url: https://api-openai.xx/v1/

funasr:
   url: ws://172.0.0.1:1234

whispers:
  model_name: "small"
  device : 'cuda'
  language : "zh"
  beam_size : 5
  min_silence_duration_ms : 1000